# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=task_tracker

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=60

# App
PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3001
